*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0A0A0F;
    color: #F0F4FF;
    font-family: 'segoe UI', sans-serif;
    /* overflow: hidden; */
}
#root{
    background-color: #0A0A0F;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}